# Project-specific
scratch/
plots/**
models/link_models/**
samples/link_data/**

# Python cache
**/__pycache__/
*.py[cod]
*$py.class
*.so

# Build files
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/

# macOS
.DS_Store
